body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #648ddf;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.review-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}





#img1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
}

.estilos {
    font-size: 24px;
    font-weight: bold;
}

p {
    margin-bottom: 15px;
}
